/* CSS Document */
html {

}
body {
/*    background-color: powderblue;*/
/*	background: linear-gradient(-30deg, dodgerblue, steelblue);*/
color: mintcream;
}

.about p{
	width: 1000px;
	text-align: center;
}
.page-container:before {
	content: "";
	background: url(img/pexels-photo-25806.jpg) no-repeat;
	background-size: cover;
	filter: blur(15px);
/*	left: 0;*/
/*	right: 0;*/
	position: fixed;
	width: 100%;
	height: 100%;
/*	display: block;*/
	z-index: -1;
}

.page-container {
	z-index: 0;
	position: fixed;
	left: 0;
	right: 0;
	
/*	filter: blur(0px);*/
}

.content-wrapper {
	margin-left: 30px;
	margin-right: 20px;
	text-align: center;
	
}

a {
	color: mintcream;
}

input, textarea {
	border-radius: 5px;
}

#menu-container {
    text-align: center;
}

#menu  {
    list-style-type: none;
}

#menu li {
    display: inline-block;
    padding: 0 20px 20px 20px;
}

#menu li a{
    text-decoration: none;
    font-family: gochi-hand, sans-serif;
    font-size: 20px;
}

h1 {
	text-align: center;
	font-family: gochi-hand, sans-serif;
}

.package-table {
	margin-left: auto;
	margin-right: auto;
	height: 400px;
	width: 500px;
	background: linear-gradient(to bottom, #066dab 0%, #8abbd7 69%, #c5deea 100%);
}
.package-table thead tr th {
	text-decoration: underline;
}
.package-table tbody tr td {
	padding: 5px;
}
#package-wrapper {
	text-align: center
}

#contact-form-wrapper {
    display: block;
    text-align: center;
}

#contact-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.gallery {
	background-color: azure;
	opacity: 0.6;
	color: black;
	margin-bottom: 25px;
	border: thin solid #1C8DB2;
	text-align: center;
/*	padding 10px;*/
	height: 142px;
}

.gallery a {
	color: blue;
}
.gallery p {
/*	width: 200px;*/
	display: inline;
}
.gallery img {
/*	padding: 0px;*/
	width: 140px;
	height: 80px;
}

.gallery img:hover {
/*	opacity: none;*/
}
#gallery-container {
	width: 1200px;
	height: 700px;
	overflow-y: auto;
	margin: auto;
}
#waximg {
	float:left;
}
#buffimg {
	float:right;
}
#handwashimg {
	float: right;
}
#washpara {
	float: left;
}
#wheelwellimg {
	float: left;
}

#home-gallery {
	width: 1000px;
	height: 600px;
	margin: auto;
}

#home-gallery img {
	width: 200px;
	height: 200px;
	display: inline-block;
	transition: width 1s, height 1s;
}
#home-gallery img:hover {
	width: 300px;
	height: 300px;
}
#appointment-wrapper {
	width: 350px;
/*	text-align: center;*/
	margin: auto;
}
.appointment {
	display: table;
}
.appointment div {
	display: table-row;
}
.appointment label {
	text-align: left;
}
#appointment-wrapper div button {
	width: 250px;
	margin: 10px;
	display: block;
}
.appointment input, label, select, p  {
	display: table-cell;
	vertical-align: middle;
/*	text-align: */
}
